.Rproj.user
.env
.Rhistory
.Renviron
README_cache/
cache

# Ignore all snapshots. From https://git-scm.com/docs/gitignore:
# > It is not possible to re-include a file if a parent directory of
# > that file is excluded ... "/**" matches everything inside.
tests/testthat/_snaps/**

# Re-include safe snapshots
!tests/testthat/_snaps/run_pacta.md
